# Ignorar todo
*

# Permitir entrar a carpetas
!*/

# Mantener este archivo
!.gitignore

# Xtext
!chopi_Impostor/src/upb/edu/lp/Chopi_Impostor.xtext

# Validator
!chopi_Impostor/src/upb/edu/lp/validation/
!chopi_Impostor/src/upb/edu/lp/validation/*.java

# Generator
!chopi_Impostor/src/upb/edu/lp/generator/
!chopi_Impostor/src/upb/edu/lp/generator/*.java
